@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');


* {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 100px;
}

header nav ul li{
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}

header a img{
    margin-top: 18px;
    width: 46%;
    height: auto;
    padding-left: 100px;
}